/* npx tailwindcss -i ./src/input.css -o ./public/style.css --watch */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4 {
		@apply font-bold text-primary-blue pb-5 indent-5;
		font-variant: small-caps;
		text-shadow: 1px 1px 1px;
	}
	h1:first-of-type {
		@apply pt-5;
	}
	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply text-3xl;
	}
	h3 {
		@apply text-2xl;
	}
	h4 {
		@apply text-xl;
	}
	p {
		@apply text-xl;
	}
	p a {
		@apply text-primary-blue font-bold;
	}
	p a:hover {
		@apply text-primary-lightblue font-bold underline;
	}
	section {
		@apply py-5;
	}
	section:first-of-type {
		margin-top: 50px;
	}
	section:last-of-type {
		margin-bottom: 50px;
	}
	li {
		@apply font-semibold;
	}
	section li a {
		@apply text-primary-blue font-semibold;
	}
	section li a:hover {
		@apply underline text-primary-lightblue;
	}
	nav,
	footer {
		box-shadow: 0 0 3px;
	}
	main {
		@apply container flex flex-col mx-auto px-20 divide-y divide-primary-blue text-gray-900;
	}
}

@layer components {
	.header-background-image-home {
		background-image: url(../\(resources\)/connection.jpg);
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 50%;
		overflow: hidden;
	}
	.active-link,
	.link-hover:hover {
		border-bottom: 3px solid;
	}
	.link-hover-small:hover {
		border-bottom: 2px solid;
	}
	.footer-links {
		@apply mx-1 leading-loose font-bold text-primary-lightblue link-hover-small;
	}
	.nav-links {
		@apply font-bold text-xl pt-3 link-hover;
	}
	.btn {
		@apply rounded-xl mx-auto px-2 py-1 font-bold align-baseline text-gray-950 tracking-wider;
		font-variant: small-caps;
		box-shadow: 1px 1px 3px;
	}
	.card {
		@apply flex bg-primary-blue bg-opacity-90 rounded-md p-7 mx-auto my-10 border-secondary-gray border-opacity-75;
		width: clamp(750px, 70%, 950px);
		min-height: 350px;
		box-shadow: 5px 5px 15px;
	}
	.card-text {
		@apply flex flex-col text-left mx-auto my-3 px-3 py-3;
	}
	.card-text p {
		@apply text-secondary-silver text-xl leading-10;
	}
	.card-image {
		@apply my-auto me-10;
		width: 40%;
		border: 2px solid black;
		box-shadow: 5px 5px 15px;
	}
	.card-btn {
		@apply bg-primary-lightblue text-gray-950 tracking-wider float-right mb-5 me-20 px-2 py-1 text-center font-extrabold hover:bg-primary-blue hover:text-primary-lightblue hover:shadow-none;
	}
}
