/* npx tailwindcss -i ./src/input.css -o ./public/style.css --watch */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4 {
		@apply font-bold text-primary-blue pb-5 indent-5;
		font-variant: small-caps;
	}
	h1:first-of-type {
		@apply pt-5;
	}
	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply text-3xl;
	}
	h3 {
		@apply text-2xl;
	}
	h4 {
		@apply text-xl;
	}
	p {
		@apply text-xl;
	}

	form {
		@apply rounded-xl p-4;
	}
	label {
		@apply mt-4;
	}
	input,
	select,
	textarea {
		@apply m-1 rounded bg-gray-50 p-1;
	}
	section {
		@apply py-5;
	}
	li {
		@apply font-semibold;
	}
	section li a {
		@apply text-primary-blue font-semibold;
	}
	section li a:hover {
		@apply underline text-primary-lightblue;
	}
}

@layer components {
	.header-background-image-home {
		background-image: url(../\(resources\)/connection.jpg);
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 50%;
		overflow: hidden;
	}
	.active-link,
	.link-hover:hover {
		border-bottom: 3px solid;
	}
	.link-hover-small:hover {
		border-bottom: 2px solid;
	}
	.footer-links {
		@apply mx-1 leading-loose font-bold text-primary-lightblue link-hover-small;
	}
	.nav-links {
		@apply font-bold text-xl pt-3 link-hover;
	}
	.btn {
		@apply rounded-xl mx-auto px-2 py-1 font-bold align-baseline;
		font-variant: small-caps;
	}
	.card {
		@apply flex bg-primary-blue bg-opacity-90 rounded-md p-7 mx-auto my-10 border-secondary-gray border-opacity-75;
		width: clamp(250px, 70%, 800px);
	}
	.card-text {
		@apply flex flex-col text-left mx-auto my-3 px-3 py-3;
	}
	.card-text p {
		@apply text-secondary-silver text-xl leading-10;
	}
	.card-image {
		@apply my-auto me-10;
		width: 40%; border: 2px solid black; box-shadow: 0 0 15px;
	}
	.card-btn {
		@apply bg-primary-lightblue text-primary-blue float-right mb-5 me-20 px-2 py-1 text-center font-extrabold;
	}
}
