@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: #808080;
	background-color: #fff;
}

nav,
footer {
	background-color: #f0f0f0;
}

hr {
	color: #a9a9a9;
}
h1,
h2,
h3 {
	@apply font-bold;
	color: #333;
}
h1 {
	@apply text-3xl;
}
h2 {
	@apply text-2xl;
}
h3 {
	@apply text-xl;
}
.active {
	@apply border-b-2 border-black;
}

.button {
	@apply rounded-3xl mx-auto inline-block px-3 py-1 text-2xl font-bold;
	color: #000;
	background-color: #a9a9a9;
	border: 1px solid black;
	box-shadow: 2px 2px 4px black;
}

.nav-shadow {
	border-bottom: 2px solid #333;
	box-shadow: 0 0 4px;
}

.card {
	@apply rounded-lg bg-slate-300 px-4 pt-2 pb-4 border border-black;
	box-shadow: 2px 2px 4px black;
}
